---
ansible_host: !vault | <your VPS public IP>
ansible_user: !vault | <user to ssh into your machine>
ansible_become_pass: !vault | <user's password to execute sudo>
email: !vault | <your email for ACME requests>
domain: !vault | <domain you'll use for your VPS>
